doctype html
html
    head 
        title Primal Dance Academy 
        block script 
        block style 
    body
        nav
            #navbar 
                a(href='/')
                    img(src="./static/logo.jpg", alt="")#logo
                ul
                    li#h PDA
                    li#link #[a(href='/') Home]
                    li#link #[a(href='/aboutUs') About Us]
                    li#link #[a(href='/courses') Courses] 
                    li#link #[a(href='/contact') Contact Us]
                    li#link #[a(href='/join') Join Now!!]

        block content 
        
        block footer
                footer#footer
                    | Copyright 2022 Primal Dance Academy | All Rights Reserved